<?xml version="1.0" encoding="UTF-8"?>

<!-- 参考 org/springframework/boot/logging/logback/base.xml 文件配置而来 -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <!-- dev、test 环境输出到控制台和文件 -->
<!--    <springProfile name="dev,test">-->
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
<!--    </springProfile>-->

<!--    &lt;!&ndash; prod 环境只输出到文件 &ndash;&gt;-->
<!--    <springProfile name="prod">-->
<!--        <root level="INFO">-->
<!--            <appender-ref ref="CONSOLE" />-->
<!--            <appender-ref ref="FILE" />-->
<!--        </root>-->
<!--    </springProfile>-->

</configuration>